<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, qui sunt voluptas dignissimos consectetur harum distinctio. Repellendus corrupti quisquam esse magnam temporibus non quam officiis veniam odit, incidunt, pariatur dignissimos, molestiae totam placeat et! Quaerat aliquam doloribus eligendi ipsa suscipit?</p>
    </div>
</div>