<div class="jumbotron">
    <h1 class='display-4'>Notes Ap NodeJS and MongoDB</h1>
    <p class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class='my-4'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum natus modi quo nobis voluptatum nam corporis odio nihil dolores. Vitae voluptatibus minus modi repudiandae maxime tenetur distinctio nemo. Natus, eius.</p>
    <a href="http://google.com" class=' btn btn-primary btn-lg'>Google</a>
</div>